.div1{
  background: linear-gradient(to right, #ea00ff, #000000 , #000000,  #8c00ff);
 
    padding: 8px;
    
}
.textaoes{
    color: white;
    justify-self: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.div2{
    box-shadow: 0 0 15px  #23013f81;
    padding: 40px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    justify-self: center;
}