body{
    font-family: Arial, sans-serif;
}
button{
    background-color: #ae08e0;
    color: #fdfdfd;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 30px;
}

.abacaxi{
    padding: 10px;
    
    
}